*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  
pseudoclase para scrollbar
*/
:root{
    scroll-behavior: smooth;
}

/*  
tipo de fuente desde google fonts
*/
body{

    font-family: 'Open Sans', sans-serif;
}

/*  
contenedor de logotipos institucionales
*/
.card{
    width: 95%;
    height: 100px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(13, 0, 129, 0.548);
    margin: 1px auto;


}
/*  
logotipos institucionales
*/
.estilo_logos{

    width: 250px;
    height: 80px;
    margin: 10px 10px;
    object-fit: contain;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: gold;
    
}
/*  
contenedor plantilla de 90% del total de la pagina
*/
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 80px 0;
}

/*  
encabezado por debajo de los logotipos institucionales
*/
.header{
    height: 85vh;

    background-image: linear-gradient(-225deg, rgba(71, 59, 123, 0.459) 0%, rgba(53, 133, 167, 0.459) 51%, rgba(48, 210, 191, 0.445) 100%), url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
/*  
estilo del titulo principal de la pagina
*/
.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
/*  
boton menu de navegación con anclas
*/
.menu_nav{
    z-index: 10;
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(67, 44, 57, 0.486);

}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, rgba(30, 59, 114, 0.733) 0%, rgba(30, 59, 114, 0.795) 1%, rgba(42, 82, 152, 0.76) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;

    color: #fff;
    /* transition: transform .3s ease-in-out; */
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 5);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
   
}

.spread{
    transform: translate(0);
}


.img-principal{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 10);
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
    
}

.descripcion-header{

font-weight: 300px;
font-size: 25px;
}

/* fin del encabezado */


/* Radio en vivo */

.subtitulo{

    text-align: center;
    font-weight: 300;
    color: rgb(14, 5, 141);
    margin-bottom: 40px;
    font-size: 40px;
}

.radio-en-vivo-contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.radio-en-vivo-contenedor img{

    width: 45%;
}
.radio-contenedor{
    width: 45%;
}

.servicio{
    margin-bottom: 20px;

}
.n-radio{
    margin: bottom 7px;
    color: rgb(25, 204, 40); ;
}

.numero{
    display: inline-block;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10px;
}
/* Fin de Radio en vivo */

/* Descargas */
.descargas-contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.descargas-contenedor img{
   width: 45%;
}

.descargas-cont{
    width: 45%;
}

.n-descargas{
    margin: bottom 7px;
    color: rgb(25, 204, 40); ;
}

.img-servicio{
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
}

.tienda1 a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    border:1px solid black;
    border-radius: 5px;
    font-size: 24px;
    margin-top: 10px;
    

}

.tienda1 a:hover{
    background: rgb(7, 179, 36);
    color: #fff;
}
.tienda2 a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    border:1px solid black;
    border-radius: 5px;
    font-size: 24px;
    margin-top: 10px;
    

}

.tienda2 a:hover{
    background: rgb(0, 0, 0);
    color: #fff;
}


/* Fin de Descargas */

/* Tecnologico Pweb oficiales */
.tec-contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.tec-contenedor img{
    width: 45%;
}

.tec-cont{
    width: 45%;
}
.n-tec{
    margin: bottom 7px;
    color: rgb(25, 204, 40); ;
}

.img-tec{
    display: inline-block;
    align-items: center;
    width: 100px;
    height: 80px;
    margin: 5px 5px 30px 5px;
    border-right: 1px solid gold;
}

/* Fin Tecnologico Pweb oficiales */



/* galeria de imagenes */
.galeria{
    background: #f2f2f2;

}

.conetedor-galeria{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 5);
}

.pixel{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2 ease-in-out;
    transform: translate(100%);
}
.show{
    transform: translate(0);
}
.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transition: transform .3s .2s;
    transform: scale(0);
}

.close{
    position: absolute;
    top:15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 50%;
}

.show-image{
    transform: scale(1);
}


/* Mas información */

.mas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-mas{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;

}
.mas img{
    width: 80%;
    display: block;
    margin:  0 auto;
}

.n-mas{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;

}

/* fin de mas información */

/* footer*/

.footer{
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  padding-bottom: 0.1px;

}

.footer-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contacto{
    width: 45%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;

}

.social-media{
    display: flex;
    width: 45%;
    justify-content: flex-end;

}

.social-media-icon{
display: inline-block;
margin-left: 20px;
width: 60px;
height: 60px;
border-radius: 50%;
border: 1px solid black;
text-align: center;
color: #fff;

}

.social-media-icon:hover{
    background: #fff;
    color: chartreuse;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
    
}

/* Resolución para tablet */

@media (max-width: 860px) {

    /* Menu lateral */
    
    .menu-navegacion{
        width: 50vw;
    }

    /* contenedor de logotipos institucionales */
.card{
    width: 100%;
    height: 100px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(13, 0, 129, 0.548);
    margin: 1px auto;


}
/*  
logotipos institucionales
*/
.estilo_logos{

    width: 115px;
    height: 50px;
    margin: 10px 10px;
    object-fit: contain;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: gold;
    
}

/* Titulo principal */
.titulo{

    font-size: 40px;
}

/* Contenedor de la radio en vivo */
.radio-en-vivo-contenedor img{

    width: 80%;
    margin-bottom: 40px;
}
.radio-contenedor{
    width: 80%;
}

.servicio{
    margin-bottom: 30px;

}

/* Contenedor descargas */
.descargas-contenedor img{
    width: 80%;
    margin-bottom: 50px;
 }
 
 .descargas-cont{
    width: 80%;
 }

 .img-servicio{
     width: 80%;
     margin-left: 30px;
 }

 /* Contenedor Pweb */

 .tec-contenedor img{
    width: 60%;
    margin-bottom: 50px;
}

.tec-cont{
    width: 80%;
}

.img-tec{

    width: 80%;
    margin-left: 70px;
}

/* Contenedor Galria */

.agregar-imagen{

    width: 80%;
}


.img-galeria{

    width: 45%;
}

/* Contenedor mas */

.cont-mas{

    width: 80%;
    margin-bottom: 40px;
}
.footer-cont{
    justify-content: center;
}

.social-media{
    width: 80%;
    justify-content: space-evenly;

}
.social-media i{
   margin-left: 0;
}
.social-media-icon{
    margin-left: 0;
}
.contacto{
    text-align: center;
    width: 90%;
    margin-bottom: 40px;
}

    }



    /* Resolución para celular */

    @media (max-width: 500px) {

        /* Menu lateral */
        
        .menu-navegacion{
            width: 65vw;
        }
    
        /* contenedor de logotipos institucionales */
    .card{
        width: 100%;
        height: 100px;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: rgba(13, 0, 129, 0.548);
        margin: 1px auto;
    
    
    }
    /*  
    logotipos institucionales
    */
    .estilo_logos{
    
        width: 60px;
        height: 40px;
        margin: 10px 10px;
        object-fit: contain;
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: gold;
        
    }
    
    /* Titulo principal */
    .titulo{
    
        font-size: 30px;
    }
    .subtitulo{
        font-size: 30px;
    }
    .img-principal{

        width: 60;
        height: 60;
    }

    .menu_nav{
        top: 20px;
        right: 15px;
    }

    .img-servicio{

        margin-left: 20px;
    }
    .tienda1{
        text-align: center;
    }
    .tienda2{
        text-align: center;
    }
    .img-tec{
        object-fit: contain;
        width: 90%;
        margin-bottom: 15px;
        margin-left: 40px;
    }
    
    
    
    /* Contenedor Galria */
    
    .agregar-imagen{
    
        width: 95%;
    }
    
    
    .img-galeria{
    
        width: 95%;
    }
    
   
    .footer-cont{
        justify-content: center;
    }
    
    .social-media{
        width:100%;
    }
    .social-media i{
       margin-left: 0;
    }
    .contacto{
        text-align: center;
        width: 90%;
        margin-bottom: 40px;
    }
    
        }